* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: gray;
    background-color: blanchedalmond;
    font-size: 0.875em;
}

.contenedor-principal {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.contenedor {
    align-items: center;
    background-color: white;
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5em 0em;
    min-width: 540px;
    height: 245px;
}

form input[type="text"],
input[type="number"] {
    padding: 2px;
    border: 1px solid #ddd;
    color: inherit;
    font-weight: bold;
    font-size: 1em;
}

h2 {
    margin: 0.3em 0em;
    font-weight: lighter;
    font-style: italic;
    color: sandybrown;
}

.form-control {
    margin-bottom: 5px;
}

.form-control label {
    display: inline-block;
    width: 170px;
}

.btn {
    padding: 0.15em;
    width: 6em;
}

.scroll {
    width: 90%;
    overflow-y: scroll;
    padding-right: 14px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 2px;
}

.ta-center {
    text-align: center;
}

input[type="image"] {
    border: 0;
    background-color: transparent;
    width: 21px;
    height: 21px;
}

td input[type="image"]:first-child {
    margin-right: 8px;
}

.error {
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    display: block;
    height: 21px;
    font-size: small;
    padding: 2px 4px;
    margin-top: 3px;
    visibility: hidden;
    width: fit-content;
}

.error.active {
    visibility: visible;
}

dialog {
    text-align: center;
    margin: auto;
    border: 1px solid;
    border-radius: 4px;
    overflow: hidden;
}

dialog#confirmDialog {
    height: 10em;
    width: 390px;
}

dialog#confirmDialog div:first-child {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: inherit;
    justify-content: center;
}

dialog#confirmDialog p {
    font-size: 1.5em;
    padding: 0 1em;
}

dialog#dialogFrmEdit > div {
    width: 500px;
    padding: 1.5em 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::backdrop {
    /* background-image: linear-gradient(45deg,magenta,rebeccapurple,dodgerblue,green); */
    background-color: gray;
    opacity: 0.75;
}

@media screen and (min-width: 600px) and (max-width: 1125px) {
    .contenedor {
        min-width: 80%;
    }
}